.md-content p,
.md-content li {
  font-size: 0.9em;
  color: #b7b2e0
}

.caption {
  margin-top:-1em !important;
  font-size: 0.8em !important;
  opacity: 0.6;
  text-align: center;
  display: block;
  color: white !important;
}

#disqus_thread {
  margin-top: 4em;
  opacity: 0.7;
}

img.logo {
  float: left;
  width: 5em;
  margin-right: 1.5em;
}

img.inline-left {
  float: left;
  width: 15em;
  margin-right: 1.5em;
  border-radius: 0.5em;
  box-shadow: 2px 1px 5px 0 #1a191b ;
}

.md-typeset table {
  background-color:rgb(27, 26, 31) !important;
  border-radius: 0.5em !important;
}

.md-typeset table code {
  box-shadow: #ffffff1c 0 1px;
}

.md-typeset table  th{
  padding: .25em 1.25em !important;
  color: #cac9dfad !important;
  background-color: black !important;
}

.disqus-footer__item {
  display: none !important;
} 