.md-content p,
.md-content li {
  font-size: 0.9em;
  color: #b7b2e0
}

.caption {
  margin-top:-1em !important;
  font-size: 0.8em !important;
  opacity: 0.6;
  text-align: center;
  display: block;
  color: white !important;
}